### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### Visual Studio Code ###
.vscode/

*.log
.ipynb_checkpoints/

data/
intra_day_data/
venv/

.DS_Store
.ssh
result/
record/
future_result